#email-view {
  background-color: $White;
  box-shadow: 0 0 2px $Dove-Gray;
  margin-left: 5px;
  flex: 2;

  header {
    height: 100px;
    background-color: $Tia-Maria;
    padding: 35px;
    color: $White;

    p {
      font-family: $base-font-family;
      font-weight: $light;
      font-size: $header-font-size;
      margin: 0;
      float: left;
      width: 85%;
      word-wrap: break-word;
      }

    #head-ctrl {
      float: right;
      height: 70%;
      width: 5%;
      margin: auto 0;

      i {
        transition: 0.4s ease-in-out;

        &:hover {
          transform: scale(1.4);
        }
      }

      i:nth-child(2) {
        margin: 15px 0;
        }
      }
    }
  }

  #sender-details {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $Dove-Gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 60px);
    margin: 0 auto;

    #email-from {
      color: $Tia-Maria;

      em {
        color: $Dove-Gray;
      }
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  #email-body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $bold;
    color: $Dove-Gray;
    line-height: $base-line-height;
    margin: 0 30px;
    height: 40%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 10px;
      }

    &::-webkit-scrollbar-track {
      background-color: $Wild-Sand;
      border-radius: 10px;
      }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $Mercury;
      }

    &::-webkit-scrollbar-thumb:window-inactive {
      background-color: $Mercury;
      }

      p {
        padding-right: 15px;
      }

      p:nth-child(4) {
        font-style: italic;
        font-weight: $base-font-weight;
      }


    i {
      font-size: 30px;
      float: left;
      margin-right: 20px;
      margin-bottom: 15px;
    }
  }

  #email-attachment {
    margin: 0 30px;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $Dove-Gray;

    div {
      margin: 20px 0;
    }

    .file-name {
      display: inline;
      font-weight: $bold;

      span {
        font-weight: $base-font-weight;
      }
    }

    .svd {
      float: right;
      display: inline;
      margin: 0;

      span {
        margin-left: 20px;
      }
    }


    #exte1, #exte2 {
      color: $White;
      display: inline;
      font-size: 10px;
      padding: 3px;
      font-weight: $bold;
    }

    #exte1 {
      background-color: $Java;
    }

    #exte2 {
      background-color: $Atlantis;
    }
  }

  #textarea {
    border: 2px solid $Alto;
    border-radius: 3px;
    font-family: $base-font-family;
    font-style: italic;
    font-size: $base-font-size-big;
    color: $Alto;
    height: 60px;
    width: calc(100% - 60px);
    margin: 0 auto;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 10px;
      }

    &::-webkit-scrollbar-track {
      background-color: $Wild-Sand;
      border-radius: 10px;
      }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $Mercury;
      }

    &::-webkit-scrollbar-thumb:window-inactive {
      background-color: $Mercury;
      }

    p {
      position: relative;
      bottom: 7px;
      left: 5px;
    }

    a {
      font-weight: $bold;
      color: $Tia-Maria;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }

  }
