// body
$Gallery: #eeeeee;

// wraper
$Alabaster: #f9f9f9;
$Black: #000000;
$Seashell: #f1f1f1;

// sidebar
$Cod-Gray: #191818;
$Dove-Gray: #666666;
$White: #ffffff;
$Mine-Shaft: #222222;
$Tia-Maria: #da3610;
$Atlantis: #8dca35;
$Robin-Egg-Blue: #00bfdd;
$Burning-Orange: #ff702a;

// inbox
$Alto: #cfcfcf;
$Mercury: #e5e5e5;
$Silver: #cccccc;
$Web-Orange: #ffab00;

// emailView
$Wild-Sand: #f6f6f6;
$Java: #1cbbb4;

// chat
$Tundora: #444444;
$Gray: #888888;
